@model aula06.Models.Disciplina

@{
    ViewBag.Title = "Details";
}

<h2>Detalhamento da disciplina</h2>

<div>
    <h4>Disciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Descricao)
        </dd>

        <dt>
            Professor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>

        <dt>
            Disciplina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            Créditos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creditos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdDisciplina }) |
    @Html.ActionLink("Voltar", "Index")
</p>
