@model Exercicio1.Models.Consulta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
