
@{
    ViewBag.Title = null;
}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pesquisa de Estabelecimento de Hospedagem - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand pr-2">Pesquisa de Estabelecimento de Hospedagem</div>
                <div class="navbar-brand p-2">@Html.ActionLink("Home", "Index", "Home")</div>
                <div class="navbar-brand p-2">@Html.ActionLink("Cidades", "Index", "Cidade")</div>
                <div class="navbar-brand p-2">@Html.ActionLink("Categorias", "Index", "Categoria")</div>
                <div class="navbar-brand p-2">@Html.ActionLink("Tipos de Quarto", "Index", "TipoQuarto")</div>
                <div class="navbar-brand p-2">@Html.ActionLink("Estabelecimentos", "Index", "Estabelecimento")</div>
                <div class="navbar-brand p-2">@Html.ActionLink("Quartos", "Index", "Quarto")</div>
            </div>
        </div>
    </div>


    <div class="container">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>

