@model IEnumerable<ProjetoPesquisaEstabelecimentoHospedagem.Models.TipoQuarto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo tipo de quarto", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorDiaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CafeManha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorDiaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CafeManha)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.IdTipoQuarto }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.IdTipoQuarto })
        </td>
    </tr>
}

</table>
